
.filter-section {
    display: flex;
    max-width: 13.6rem;
    justify-content: start;
}




.sorting {
    background-color: $grey-100;
    padding: 0.15rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    label {
        display: flex;
        justify-content: center;
        select {
            color: $grey-300;
            font-family: "Inter", sans-serif;
            font-weight: 600;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            font-size: 0.75rem;
            width: 6.5rem;
            border-radius: 0.35rem;
            padding: 0.3rem;
            background-color: $grey-10;
            border: 1px solid $grey-150;
          
            &:hover {
                cursor: pointer;
                border-color: rgb(47, 78, 253);
            }
            option {
                font-size: 0.75rem;
                text-align: left;
            }
        }

    }
}